.cart-item {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.cart-item-image {
  height: 90px;
  width: 136px;
  border-radius: 8px;
}
.cart-item-details-container {
  display: flex;
  flex-direction: column;
}
.cart-item-name {
  color: #183b56;
  font-size: 14px;
  font-weight: 500;
  font-family: 'DM Sans';
}
.cart-item-quantity-adjuster-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-item-decrement-quantity-btn {
  height: 20px;
  width: 20px;
  border: 1px solid #475569;
  border-radius: 2px;
  color: #3e4c59;
  background-color: transparent;
}
.cart-item-quantity {
  color: #475569;
  font-size: 16px;
  font-weight: 500;
  font-family: 'DM Sans';
}
.cart-item-increment-quantity-btn {
  height: 20px;
  width: 20px;
  border: 1px solid #475569;
  border-radius: 2px;
  color: #3e4c59;
  background-color: transparent;
}
.cart-item-cost-container {
  display: flex;
  align-items: center;
  color: #ffa412;
  font-weight: 700;
}
.cart-item-cost {
  color: #ffa412;
  font-size: 16px;
  font-weight: 700;
  font-family: 'DM Sans';
  margin-left: 5px;
  display: inline;
}

@media screen and (min-width: 768px) {
  .cart-item-details-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .cart-item-image {
    flex-shrink: 0;
    height: 100px;
    width: 136px;
  }
  .cart-item-name {
    width: 200px;
    font-size: 20px;
  }
  .cart-item-cost {
    font-size: 16px;
  }
}
