.carousel-item {
  list-style-type: none;
  height: 188px;
  width: 100%;
  margin-top: 0px;
}
.carousel-image {
  height: 100%;
  width: 100%;
}
.slick-dots {
  bottom: 10px;
}
.slick-dots li {
  margin: 0px 0px;
}
.slick-dots li button:before {
  font-size: 8px; /* dot size */
  color: white; /* dot color */
  opacity: 0.7; /* light or dark */
}
/* Active dot */
.slick-dots li.slick-active button:before {
  color: white; /* active dot color */
  opacity: 1;
  font-size: 10px;
}
.carousel-loader-container {
  height: 188px;
  width: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.failure-container {
  height: 188px;
  width: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reload-btn {
  background-color: #f7931e;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  height: 32px;
  width: 73px;
}

@media screen and (min-width: 768px) {
  .carousel-item {
    height: 320px;
  }
  .carousel-loader-container {
    height: 320px;
    width: 100%;
  }
  .failure-container {
    height: 320px;
    width: 100%;
  }
}
