.login-bg-container-mobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login-top-section-container {
  display: flex;
}
.login-page-image {
  width: 250px;
  order: 1;
  background-size: cover;
}
.login-heading {
  align-self: flex-end;
  font-weight: 500;
  font-size: 24px;
}
.login-container {
  padding: 20px;
}
.label {
  color: #475569;
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  font-weight: 700;
}
.user-input {
  margin-bottom: 20px;
  display: block;
  width: 312px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #e2e8f0;
  border-radius: 2px;
  padding-left: 10px;
}
.password-input {
  margin-bottom: 5px;
}
.error-msg {
  color: #ef4444;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 0px;
}
.login-btn {
  width: 312px;
  height: 40px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #f7931e;
  font-weight: 700;
  cursor: pointer;
}

/*Desktop View Css*/

@media screen and (min-width: 768px) {
  .login-bg-container-mobile {
    display: none;
  }
}

.login-bg-container-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-content-container-desktop {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.content-left-section-container-desktop {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  background-color: #fefeff;
  padding: 30px;
}
.chef-hat-icon {
  height: 39px;
  width: 49px;
}
.tasty-kitchen-heading-desktop-login-view {
  color: #f7931e;
  font-size: 24px;
  font-weight: 700;
  margin-top: 3px;
  font-style: italic;
}
.login-heading-desktop-login-view {
  color: #0f172a;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
.login-form-desktop-view {
  margin-top: 40px;
}
.label-desktop-view {
  display: block;
  color: #475569;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}
.user-input-desktop-view {
  display: block;
  width: 360px;
  height: 40px;
  border: none;
  background-color: #e2e8f0;
  border-radius: 2px;
  padding-left: 10px;
  outline: none;
  margin-bottom: 20px;
}
.password-input-desktop-view {
  margin-bottom: 5px;
}
.error-msg-desktop-view {
  color: #ef4444;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 10px;
}
.login-btn-desktop-view {
  width: 360px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #f7931e;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
}
.content-right-section-container-desktop {
  height: 100%;
  width: 705px;
}
.tasty-kitchen-desktop-view-image {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .login-bg-container-desktop {
    display: none;
  }
}
