.login-bg-container-mobile {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.login-top-section-container {
  display: flex;
}
.login-page-image {
  width: 250px;
  order: 1;
  background-size: cover;
}
.login-heading-mobile {
  align-self: flex-end;
  font-weight: 500;
  font-size: 24px;
}
.login-container {
  padding: 20px;
}
.label {
  color: #475569;
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  font-weight: 700;
}
.user-input {
  margin-bottom: 20px;
  display: block;
  width: 312px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #e2e8f0;
  border-radius: 2px;
  padding-left: 10px;
}
.password-input {
  margin-bottom: 5px;
}
.error-msg {
  color: #ef4444;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 0px;
}
.login-btn {
  width: 312px;
  height: 40px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #f7931e;
  font-weight: 700;
  cursor: pointer;
}

/*Desktop View Css*/

.tasty-kitchens-heading-login {
  color: #f7931e;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  font-family: 'DM Sans';
  margin-top: 5px;
}
.website-logo-login {
  display: block;
  height: 43px;
  width: 53px;
}
.login-heading-desktop {
  color: #0f172a;
  font-size: 32px;
  font-family: 'DM Sans';
  font-weight: 500;
  margin-bottom: 40px;
}
.login-container-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-top: 50px;
}

@media screen and (min-width: 768px) {
  .login-bg-container-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .login-page-image {
    display: none;
  }

  .login-heading-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .website-logo {
    display: none;
  }
  .tasty-kitchens-heading {
    display: none;
  }
  .login-heading-desktop {
    display: none;
  }
  .tasty-kitchens-heading-login {
    display: none;
  }
  .website-logo-login {
    display: none;
  }
  .login-container-desktop {
    box-shadow: none;
    padding-top: 20px;
  }
  .login-image-desktop {
    display: none;
  }
}
